* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
  }
  
  .password-form-Container {
    position: relative;
    top:60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    height:900px;
  }
  .password-form-Container img {
    width: 615px;
    height: 900px;
  }
  .set-password-form h1 {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 39px;
    color: #000000;
    position: relative;
    top:40px
  }
  
  .form-field {
    position: relative;
    top: 150px;
    background: #f9fafc;
    border: 1px solid #bcc7d3;
    border-radius: 3px;
    height: 54px;
    width: 478px;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  
  .set-password-field {
    width: 700px;
    display: flex;
    flex-direction: column;
    background-color: #f9fafc;
    /*  justify-content: center; */
    align-items: center;
  }
  .password {
    position: relative;
    left: -200px;
    top: 140px;
    font-family: "Archivo";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #01112c;
  }
  .confirmPassword {
    position: relative;
    top: 143px;
    left: -183px;
    font-family: "Archivo";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #01112c;
  }
 
  .continueButton-3 {
    position: relative;
    top:500px;
    height: 50px;
    width: 478px;
    border-radius: 3px;
    background: #ec7406;
    border: 1px solid #ec7406;
    color: white;
    font-family: "Archivo";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    left:0;
  }
  