* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bank-details-form {
  position: relative;
  top: -800px;
  left: 500px;
  width: 600px;
  border: 1px solid #e4e4e7;
  height: 307px;
}
.bank-details-heading {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 169% */

  /* yellow/900 */
  color: #713f12;
  padding: 15px;
  text-align: left;

  width: 100%;
}
.bank-details-heading::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e4e4e7;
  margin-top: 10px;
}
.bank-field {
  padding: 10px;
  height: 54px;
  width: 548px;
  border-radius: 3px;
  background-color: #f9fafc;
  border: 1px solid #e4e4e7;
  margin-bottom: 20px;
  position: relative;
  top:-30px;
}
.bank-code-field {
  padding: 10px;
  height: 54px;
  width: 150px;
  position: relative;
  top: -67px;
  left: 200px;
  border-radius: 3px;
  background-color: #f9fafc;
  border: 1px solid #e4e4e7;
  margin-bottom: 0px;
}
.bank-code-field-label {
  position: relative;
  top: -68px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  left:160px;
  /* identical to box height, or 157% */

  display: flex;
  align-items: flex-end;

  color: #01112c;
}
.bank-field-1 {
  padding: 10px;
  height: 54px;
  width: 350px;
  position: relative;
  left: -100px;
  border-radius: 3px;
  background-color: #f9fafc;
  border: 1px solid #e4e4e7;
  margin-bottom: 10px;
}
.bank-field-label {
  position: relative;
  left: -235px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  display: flex;
  align-items: flex-end;

  color: #01112c;
}
.account-no-field-label {
  position: relative;
  left: -219px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
top:-32px;
  display: flex;
  align-items: flex-end;

  color: #01112c;
}
.set-bank-button {
  height: 50px;
  width: 350px;
  background: #ec7406;
  border-radius: 3px;
  position: relative;
  left: 20px;
  border: 1px solid #ec7406;
  top: -5px;
  padding: 10px;
  position: relative;
  top: -10px;
}
