* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.major-wallet-container {
  position: relative;
  left: 500px;
  top: -930px;
  width: 1000px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.main-wallet-container {
  border: 1px solid #e4e4e7;
  height: 225px;
  width: 390px;
  border-radius: 10px;
}
.major-wallet-welcome {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* gray/900 */

  color: #18181b;
  padding: 15px;
}
.major-wallet-text {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  /* gray/500 */

  color: #71717a;
  padding: 15px;
}
.major-wallet-amount {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  /* identical to box height, or 142% */

  /* gray/900 */

  color: #18181b;
  padding: 15px;
}
.major-wallet-sub {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  /* identical to box height, or 162% */

  /* gray/500 */

  color: #71717a;
  padding: 15px;
}
.main-bank-container {
  border: 1px solid #e4e4e7;
  height: 225px;
  width: 390px;
  border-radius: 10px;
}
.main-bank-header {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* gray/900 */

  color: #18181b;
  padding: 15px;
  text-align: left;
}
.main-bank-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e4e4e7;
  margin-top: 10px;
}
.main-bank-headers {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.bank-header {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 183% */

  /* gray/500 */

  color: #71717a;
}
.account-no-header {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 183% */

  /* gray/500 */

  color: #71717a;
}
.account-name-header {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 183% */

  /* gray/500 */

  color: #71717a;
}
.main-bank-details {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.main-bank-details p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  color: #070707;
}
.request-withdrawal-btn {
  height: 50px;
  width: 350px;
  background: #ec7406;
  border-radius: 3px;
  position: relative;
  left:20px;
  border:1px solid #ec7406;
  top:-5px;
}
