* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.addService-container {
  position: relative;
  top: -930px;
  left: 500px;
}
.add-service-form {
  height: 603px;
  width: 600px;
  border-radius: 10px;
  border: 1px solid black;
}
.add-service-form h2 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #713f12;
  width: 550px;
  padding: 10px;
}
.ad-service-header::after {
  content: "";
  height: 1px;
  background-color: #ec740633;
  width: 100%;
  display: block;
  color: black;
  margin-top: 10px;
}
.dropdown-service {
  height: 54px;
  width: 548px;
  border-radius: 3px;
  margin-bottom:10px;
  margin-top:5px;
  padding:10px;
}
.service-input {
  height: 54px;
  width: 548px;
  border-radius: 3px;
  padding:10px;
  margin-bottom:10px;
  margin-top:10px;
}
.file-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9FAFC;
  height: 232px;
  width: 248px;
  border-radius: 3px;
  position: relative;
  top:30px;
  left:-145px;
}
.service-photo {
  font-family: "Archivo";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */

  color: #ec7406;
  position: relative;
  left: 30px;
}
.add-service {
  height: 50px;
  width: 350px;
  border-radius: 3px;
  border:none;
  background-color:  #ec7406;
  position: relative;
  top:50px;
  padding:10px;
}
.service-name-label{
    position: relative;
    left: -250px;
}
.service-price-label{
    position: relative;
    left: -250px;
}
.photo-label{
    position: relative;
    left: -250px;
}